@charset "UTF-8";
/* CSS Document */

@-moz-@viewport{ width: device-width; scale: 1;}
@-ms-@viewport{ width: device-width; scale: 1;}
@-o-@viewport{ width: device-width; scale: 1;}
@-webkit-@viewport{ width: device-width; scale: 1;}
@viewport{ width: device-width; scale: 1;}

html{
	@-moz-text-size-adjust:100%;
	@-ms-text-size-adjust:100%;
	@-o-text-size-adjust:100%;
	@-webkit-text-size-adjust:100%;
	text-size-adjust:100%;
}

body{
}

nav{
color: grey;

}

ul{
	list-style-type: none;

}

li{
padding: 1em;
float: right;
text-decoration: underline;
background-color: lightgrey;
}

h2{
	color:grey;
}
.box{
	display: inline-block;
}
/*.box{
	position: absolute;
	background-color: lightgrey;
	padding: 5%;
	margin:15%;

}*/

.about-me {
    background-color: black;
    color:grey;
    padding: 5%;
}
.artwork{
  background-color: lightgrey;

}

.pieces{
/*  background-color: lightgrey;
*/  color:grey;
  float: left;
}

