@charset "UTF-8";
/* CSS Document */

@-moz-@viewport{ width: device-width; scale: 1;}
@-ms-@viewport{ width: device-width; scale: 1;}
@-o-@viewport{ width: device-width; scale: 1;}
@-webkit-@viewport{ width: device-width; scale: 1;}
@viewport{ width: device-width; scale: 1;}

html{
	@-moz-text-size-adjust:100%;
	@-ms-text-size-adjust:100%;
	@-o-text-size-adjust:100%;
	@-webkit-text-size-adjust:100%;
	text-size-adjust:100%;
}

body{
	margin:0;
}

nav{
	color: grey;
	display: inline-block;
}

.nav a{
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
}

a,
a:active,
a:hover{
}


ul{
	list-style-type: none;

}

li{
padding: 1em;
float: right;
font-weight: bold;
text-transform: uppercase;
list-style-type: none;
text-align: center;
}


h2{
	color:grey;
}

.banner{
	background-image: url("../images/tree_bark.png");
/*	padding:150px;
*/	padding-left: 20px;
	padding-bottom: 30px;
	display: block;
	background-attachment: fixed;
}
/*.box{
	position: absolute;
	background-color: lightgrey;
	padding: 5%;
	margin:15%;

}*/

.me{
	border-radius: 200px;
	float: left;
}

.about-me {
	background-image: url("../images/tile1.png");
	color:grey;
	padding: 2em;
	padding-left: 20px;
	padding-bottom: 10%;
	display: block;
	background-attachment: fixed;
}

.me-info{
	padding:.50em;
}


.artwork{
  background-color: lightgrey;
	float:left;
	padding: 1em;
	width:100%;
/*	margin-top: 1em;
*/
}

.project{
/*  background-color: lightgrey;
*/  color:grey;
  float: left;
	display: inline-block;
	margin-bottom: 1em;
}

.footer{
	padding: 1em;
	overflow: hidden;
	clear: both

}
