---
layout: default
title: Biography and Portfolio pieces of recent and past
meta: A small sample of me and what I've done at school and during my free time
priority: 1.0
---


	<section class="about-me">

	<a name="aboutme"></a>

	<img class="me  unit-xs-1 unit-m-1-2 unit-l-1-3" src="images/profile.jpg">

	<div class=" me-info gutter-quarter unit-xs-1 unit-s-1 unit-s-2-3 unit-m-1-2 unit-l-1-2 unit-pull-m-1-2 unit-l-centered" alt="image of me, with some information at the bottom.">

	<h2 class="yotta">Elisa Koon</h2>
			<p class=" kilo unit-pull-m-1-2 unit-l-centered">Name: Elisa Koon</p>
			<p>Location: Canada</p>
			<h4>What About Me?</h4>
			<p>Just a girl who grew up in the suburbs, didn't have much to do but be creative and use things that were available. I would just make things when ideas come to me. Which brought me here now. I am currently a student interested in advertising and branding. I love being creative and solving problems.</p>
			<h4>Into:</h4>
			<p>Advertising, "Because they sell things that people don't want."</p>
	</div>
	</section>

	<!-- next section -->

	<div class="artwork unit-pull-xs-0 ">
		<a name="portfolio"></a>
		<h2 class="zetta">Projects</h2>

{% for portfolio in site.posts %}
<div class="unit unit-xs-centered unit-s-1 unit-m-1-2 unit-l-1-3 unit-xl-1-3">
<ul id="og-grid" class="og-grid">
	<li class="project">
		<a href="{{site.baseurl}}/#portfolio" data-largesrc="{{portfolio.img}}" data-title="{{portfolio.title}}" data-description="{{portfolio.description}}">
			<img  class="" src="{{portfolio.img}}" alt="img01"/>
		</a>
	</li>
	<li>

	<a href="{{site.baseurl}}/#portfolio" data-largesrc="{{portfolio.img}}" data-title="Veggies sunt bona vobis" data-description="{{portfolio.description}}">
		<img src="{{portfolio.img}}" alt="img02"/>
	</a>
</div>
	<div class="og-expander">
		<div class="og-expander-inner">
			<span class="og-close"></span>
			<div class="og-fullimg">
				<div class="og-loading"></div>
				<img src="{portfolio.img}">
			</div>
			<div class="og-details">
				<h3>Veggies sunt bona vobis</h3>
				<p>Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.</p>
				<a href="{{site.baseurl}}/">Visit website</a>
			</div>
		</div>
	</div>

</li>


</ul>


{% endfor %}



		<!-- Old grid system

		<ul id="og-grid" class="og-grid">-->
			<!-- portfolio = layout site.post = _posts/  -->
			<!--
		{% for portfolio in site.posts %}
			<div class="project unit unit-xs-centered unit-s-1 unit-m-1-2 unit-l-1-3 unit-xl-1-3">

			<li class="project">
				<a href="{{site.baseurl}}/" data-largsrc="{{portfolio.img}}" data-title="{{portfolio.title}}">

				<img class="img-blur piece" src="{{portfolio.img}}" alt="intro of my work for display">
				{{portfolio.title}}

				</a>


				<p>{{portfolio.meta}}</p>

				</li>

			</div>

			{% endfor %}

		</ul>

	</div>
-->

<!-- next section/ contact info -->

