<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>{% if page.title %}{{page.title}} • {% endif %}Elisa Koon</title>

	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/portfolio.css">

	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400|Roboto:400,500' rel='stylesheet' type='text/css'>

	<!-- favicons and icons -->
	<link rel="shortcut icon"  href="{{site.baseurl}}/favicon.ico">

<!-- 	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
 -->  <meta name="description" content=" A glimips about me and my portfolio pieces.">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width, initial-scale=1">


</head>


<body class="">

<header class="banner">

<!-- TOGGLE NAV -->
	<a name="home"></a>

	<div class="container">
    	<nav id="menu">

    		<input type="checkbox" id="toggle-nav"/>
    		<label id="toggle-nav-box" for="toggle-nav"><span class="icon-reorder"></span></label>

    		<div class="box">
	    		<ul>
	    			<li><a href="{{site.baseurl}}/#home"><span class="icon-home"></span> home</a></li>
	    			<li><a href="{{site.baseurl}}/#aboutme"><span class="icon-file-alt"></span> about</a></li>
	    			<li><a href="{{site.baseurl}}/#portfolio"><span class="icon-copy"></span> work</a></li>
	    			<li><a href="{{site.baseurl}}/#contact"><span class="icon-envelope"></span> contact</a></li>
	    		</ul>
    		</div>

    	</nav>
	</div>

<!-- 		<h1>Elisa Koon</h1>-->
	<img class="logo" src="images/logo.svg" alt="Wordmark of my name, Elisa Koon">
</header>

	<main>
		{{content}}
	</main>

<a class="back-top unit-offset-s-1-2 " href="{{site.baseurl}}/#home">Back to Top</a>

<footer class="footer unit-m-1 unit-l-1">

	<a name="contact"></a>

	<h2 class="zetta">Contact</h2>

	<p>Follow me on...</p>


	<ul class="links ">
		<li><a href="https://twitter.com/elisakoon"><img src="{{site.baseurl}}/images/twitter.svg"></a></li>
		<li><a href="https://www.behance.net/elisakoon"><img src="{{site.baseurl}}/images/behance.svg"></a></li>
		<li><a href="https://vimeo.com/user24343158"><img src="{{site.baseurl}}/images/vimeo.svg"></span></a></li>
	</ul>
	<a href="hey@elisakoon.com">E-mail</a>

	<p>&#169; Copyright 2015</p>


</footer>


</body>
<script src="{{site.baseurl}}/js/image.js"></script>

</html>
